# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Database
*.sqlite
*.db

# Environment variables
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs and databases
*.log
*.sql
*.sqlite

# Local development
instance/
uploads/
resources/
